doctype html
html
  head
    title TripCam - A simple and secure HTML5 and JavaScript cam site for Tripsit.me
    link(rel='stylesheet' href='/css/site.css')
    script(src='https://unpkg.com/split-grid/dist/split-grid.js')

  body
    #content
      block content
