doctype html
html
  head
    title TripCam - A simple and secure HTML5 and JavaScript cam site for Tripsit.me
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/snake.css')
  body
    #snake
    #content
      block content
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
