extends layout

block content
  h1 Welcome to room #{roomid}
  style(src='/snake.css')
  .camera
    video#video(style='display:none') Video stream unavailable
  canvas#record(style='border: 1px solid')
  canvas#remote0
  canvas#remote1
  canvas#remote2
  canvas#remote3
  canvas#remote4

  script roomid = "#{roomid}";
  script(src='/js/room.js')
