extends layout

block content
  img#offline(src='/images/offline.png', style='display:none;')

  .room
    .channel_container
      .channel#channel

    .chat_container
      .chat
        .allchat#allchat
        .enterchat
          input#userchat(type='text')
          input#userchatsubmit(type='submit', text='Submit')
      .youtube
        div#youtube

    .horizontal-gutter

  
  div#nameSelectModal.modal
    .modal-content
      p Enter a new username:
        input#newUsername(maxlength=25)
  
  script(src='https://www.youtube.com/iframe_api')
  script(src='/bower_components/promise-polyfill/dist/polyfill.js')
  script(src='/js/mediaDevices-getUserMedia-polyfill.js')
  script(src='/js/random-name.js')
  script(src='/bower_components/eventEmitter/EventEmitter.js')
  script(src='/bower_components/underscore/underscore.js')
  script(src='/bower_components/pako/dist/pako.js')
  script roomid = "#{roomid}";
  script serverAddress = "#{serverAddress}";
  script(src='/js/preload.js')
  script(src='/js/engage_grid.js')
  script(src='/js/VideoDisplay.js')
  script(src='/js/RoomLayout.js')
  script(src='/js/Camera.js')
  script(src='/js/RoomServer.js')
  script(src='/js/ChatHandler.js')
  script(src='/js/room.js')
