extends layout

block content
  img#offline(src='/images/offline.png', style='display:none')
  div#roomFeed
  div#chat
    div#contents
  div#nameSelectModal.modal
    div.modal-content
      p Enter a new username:
        input#newUsername
  
  script(src='/bower_components/promise-polyfill/dist/polyfill.js')
  script(src='/js/mediaDevices-getUserMedia-polyfill.js')
  script(src='/js/random-name.js')
  script(src='/bower_components/eventEmitter/EventEmitter.js')
  script(src='/bower_components/underscore/underscore.js')
  script(src='/bower_components/pako/dist/pako.js')
  script roomid = "#{roomid}";
  script serverAddress = "#{serverAddress}";
  script(src='/js/VideoDisplay.js')
  script(src='/js/RoomLayout.js')
  script(src='/js/Camera.js')
  script(src='/js/RoomServer.js')
  script(src='/js/room.js')
