body {
  background-color: #232f3b;
  color: #c6c0d1;
}

#ui {
  border-bottom: 3px solid;
  padding-bottom: 5px;
}

#roomFeed {
  position: absolute;
  top: 45px;
  bottom: 12px;
  left: 8px;
  right: 8px;
  background-color: #121e2a;
}

.roomLayout {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.feedRow {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
}

.feedCol {
  flex-grow: 1;
}

.frame img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.username {
  text-align: center;
  text-overflow: clip;
  overflow: hidden;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
